{%load static%}

<!DOCTYPE html>
<html lang="en">

  <head>
    <script src="https://kit.fontawesome.com/7d82d5224d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>E-epicier</title>
    {%block links%} {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-space-dynamic.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/animated.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">
<!--
    
TemplateMo 562 Space Dynamic

https://templatemo.com/tm-562-space-dynamic

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->
  {% if request.path != '/' or request.path != '/#about' or request.path != '/#services' or request.path != '/#contact' or request.path != '/#top' %}
  <style>
      header.header-area{
        position:inherit;
      }
  </style>
{% endif %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo btn-shine">
              {% comment %} <h4>E<span>-epicier</span></h4> {% endcomment %}
                E-epicier
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              {%if request.path == '/'%}
              <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#about">Services</a></li>
              <li class="scroll-to-section"><a href="#services">About Us</a></li>
              <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
              <li class="scroll-to-section"><a href="{% url 'credit-check'%}">Check Your Credit</a></li>  
              {%if user.is_authenticated %}  
              <li class="scroll-to-section"><a href="{% url 'manage'%}">Manage</a></li>
              <li class="scroll-to-section"><div class="main-red-button"><a href="{% url 'logout'%}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></div></li> 
              {%else%}
              <li class="scroll-to-section" style="padding-right: 0;"><div class="main-blue-button"><a href="{% url 'login'%}" id="login-btn"><i class="fa-solid fa-user"></i>Login</a></div></li> 
              <li class="scroll-to-section" style="padding-left: 13px;"><div class="main-red-button"><a href="{% url 'login'%}"><i class="fa-solid fa-user-plus"></i>Register</a></div></li> 
              {%endif%}
    
              {%else%}
              <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="{% url 'about-us'%}">About Us</a></li>
              <li class="scroll-to-section"><a href="{% url 'services'%}">Services</a></li>
              <li class="scroll-to-section"><a href="{% url 'contact-us'%}">Message Us</a></li> 
              <li class="scroll-to-section"><a href="{% url 'credit-check'%}">Check Your Credit</a></li> 
              {%if user.is_authenticated %}  
              <li class="scroll-to-section"><a href="{% url 'manage'%}">Manage</a></li>
              <li class="scroll-to-section"><div class="main-red-button"><a href="{% url 'logout'%}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></div></li> 
              {%else%}
              <li class="scroll-to-section" style="padding-right: 0;"><div class="main-blue-button"><a href="{% url 'login'%}" id="login-btn"><i class="fa-solid fa-user"></i>Login</a></div></li> 
              <li class="scroll-to-section" style="padding-left: 13px;"><div class="main-red-button"><a href="{% url 'login'%}"><i class="fa-solid fa-user-plus"></i>Register</a></div></li> 
              {%endif%}

              {%endif%}
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

{% comment %} Alert message {% endcomment %}

{%if messages%}
  {%for mess in messages%}
      {%if mess.tags == 'error'%}
          <div class="alert alert-danger" style="margin-bottom: 2rem;" role="alert">
      {%else%}
          <div class="alert alert-{{mess.tags}}" style="margin-bottom: 2rem;" role="alert">
      {%endif%}
              {{mess}}
          </div>
  {%endfor%}
  {%endif%}

  {%block content%} {% endblock %}

  
  <!-- Scripts -->
  {%block scripts%} {% endblock %}

  <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{%static 'assets/js/owl-carousel.js'%}"></script>
  <script src="{%static 'assets/js/animation.js'%}"></script>
  <script src="{%static 'assets/js/imagesloaded.js'%}"></script>
  <script src="{%static 'assets/js/templatemo-custom.js'%}"></script>
  <script src="{%static 'assets/js/templatemo-custom.js'%}"></script>
  <script>
    $(document).ready(function() {
        // When the user types in the search input, filter the product table
        $('#search-box').on('keyup', function() {
          var value = $(this).val().toLowerCase();
          $('#productTable tbody tr').filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });

        var grandTotal = 0;
          var totals = document.querySelectorAll('.total');
          for (var i = 0; i < totals.length; i++) {
            grandTotal += parseFloat(totals[i].innerText);
          }
          document.querySelector('#grand-total').innerText = grandTotal+"DH";
          console.log(grandTotal)
      }); 
</script>
</body>
</html>