{% extends "index.html" %}

{%block content%}
<div class='container'>
  
  <div class='mx-auto mt-2 mb-3' style="width: 65%;">
    <input id="search-box"  type="text" class="search-box" name="q" />
    <label for="search-box"><i class="fa-solid fa-magnifying-glass search-icon"></i></label>
    <input type="submit" id="search-submit" />
  </div>
<div class="table-title mx-auto">
  <div class="row">
    <div class="col-lg-6">
      <h2>Manage <b>Clients</b></h2>
    </div>
    <div class="col-lg-6">
      <a href="{% url 'client-add'%}" class="btn btn-success" data-toggle="modal"><i class="fa-solid fa-plus"></i> <span>Add New Client</span></a>
      {% comment %} <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a> {% endcomment %}
    </div>
  </div>
</div>
   



<table id='productTable' class="table table-hover table-view mx-auto">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {%for client in clients%}
    <tr>
        <td onclick="window.location= '{% url 'client-detail' client.id%}'"> {{client.firstname}}</td>
        <td onclick="window.location= '{% url 'client-detail' client.id%}'"> {{client.lastname}}</td>
        <td>
            <a href = {% url 'client-edit' client.id%}><button type="button" class="btn btn-warning"><i class="fa-solid fa-pen"></i></button></a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{client.id}}"><i class="fa-solid fa-trash"></i></button>
            
      <!-- Modal -->
<div class="modal fade" id="exampleModal{{client.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete this? "{{client.firstname}}"</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href = {% url 'client-remove' client.id%}><button type="button" class="btn btn-danger">Yes</button></a>
      </div>
    </div>
  </div>
</div>

        </td> 
    </tr>
    {%endfor%}
  </tbody>
</table>
</div>
{%endblock content%}
