{% extends "base.html" %}

{%block content%}

<div class="mt-5 container" style="width: 50%;">

<h2>Login</h2>

{% comment %} Show errors {% endcomment %}
    {%for err in form%}
        {%if err.errors%}
            <div class="alert alert-danger" role="alert">
                {{err.errors}}     
            </div>
        {%endif%}
    {%endfor%}
 
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputUser" class="form-label">Username</label>
              <input type="username" class="form-control" name="username">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

 </div> 
 
 {%endblock content%}