{% extends "index.html" %}

{%block content%}
<div class="mt-5 container" style="width: 50%;">
  <legend>
    Credit Details
  </legend>
    <div class="list-group mb-3">

        <div class="list-group-item list-group-item-action active" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Titre</h5>
          </div>
          <p class="mb-1" style='color:#102770;'>{{credits.titre}}</p>
        </div>
        {%if credits.client.user == user%}
        <a href={% url 'client-detail' credits.client.id%} class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Client</h5>
            </div>
            <p class="mb-1">{{credits.client}}</p>
        </a>
        {%else%}
        <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Client</h5>
            </div>
            <p class="mb-1">{{credits.client}}</p>
        </div>
        {%endif%}
          
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Code Credit</h5>
          </div>
            <p class="mb-1">{{credits.id}}</p>
        </div>

        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">To pay</h5>
          </div>
          <p class="mb-1">{{credits.to_pay}}DH</p>
        </div>

        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Payed</h5>
          </div>
            <p class="mb-1">{{credits.payed}}DH</p>
          </div>
    </div>



  <div class ='row'>  
    <h2 class='col-lg-4'>Order History</h2> 
    <div class='col'>
    <input id="search-box"  type="text" class="search-box" name="q" />
    <label for="search-box"><i class="fa-solid fa-magnifying-glass search-icon"></i></label>
    <input type="submit" id="search-submit" />
    </div>
  </div>
        <table id="productTable" class = "table">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for produit in produits %}
              <tr>
                <td>{{ produit.produit.name }}</td>
                <td>{{ produit.date }}</td>
                <td>{{ produit.produit.prix }}</td>

                
                <td name="quantity_{{ produit.produit.id }}">{{produit.qnt}}</td>
                
                <td><span name='total' class="total">{{ produit.total }}</span></td>
              </tr>
              {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id='grand-total'>0</td>
              </tr>
            </tbody>
          </table>

</div>

<script>
  function calculateTotal() {

    var grandTotal = 0;
    var totals = document.querySelectorAll('.total');
    for (var i = 0; i < totals.length; i++) {
      grandTotal += parseFloat(totals[i].innerText);
    }
    document.querySelector('#grand-total').value = grandTotal+"DH";
  }

  

</script>
{%endblock content%}
