{% extends "index.html" %}

{%block content%}

<style>
  /* Submit Button */
  input,
	.input-group {
		display: block;
		position: relative;
		width: 100%;
		height: 48px;
	
		border-radius: 8px;
		border: 0px;
		font-size: inherit;
		box-sizing: border-box;
	}
	input[type="submit"] {
		margin-top: 8px;
		background-color: #ffeba7;
		color: #102770;
		cursor: pointer;
	}
	
	input[type="submit"]:focus {
		outline: none;
	}
	
  style + .container{
    width:24%;
  }
</style>
<div class="container">

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputUser" class="form-label">Titre</label>
          {{form.titre}}
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Client</label>
          {{form.client}}
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">To Pay</label>
          {{form.to_pay}}
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Pay</label>
          {{form.payed}}
        </div>


        <input value="Add" type="submit" />
      </form>

</div>
{%endblock content%}
