{% extends "base.html" %}

{%block content%}
<div class="mt-5 container" style="width: 50%;">

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputUser" class="form-label">Titre</label>
          {{form.titre}}
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Client</label>
          {{form.client}}
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">To Pay</label>
          {{form.to_pay}}
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Pay</label>
          {{form.payed}}
        </div>


        <button type="submit" class="btn btn-success">Add</button>
      </form>

</div>
{%endblock content%}
